gnu-efi/*
Output/*.o
Output/*.bin
Output/Boot/*.o
Output/Boot/*.so
Output/Boot/*.efi
Boot/Resources/gnuefi
Boot/Resources/lib
Boot/Resources/Include
Boot/Resources/*.o
Boot/Resources/*.lds
Resources/*.sym
.gitignore
.vscode